* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f9f9f9;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2em;
  color: #386CAC;
  pointer-events: none;
  margin-right: 270px;
}

.navigation a {
  text-decoration: none;
  color: #386CAC;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
  background: #386CAC;
  color: #ffff;
}

.wall {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140vh;
}

#text {
  position: absolute;
  top: 35%;
  font-size: 5em;
  color: #ffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.wall img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.sec {
  position: relative;
  background: #4b5154;
  padding: 150px;
}

.sec h2 {
  font-size: 3em;
  color: #ffff;
  margin-bottom: 10px;
}

.sec p {
  font-size: 1em;
  color: #ffff;
  font-weight: 300;
}